
<div class="col-sm-2">
            <div class="list-group">
                <a class="list-group-item active" href="/reviewer/Index">Dashboard</a>
            </div>

    <div>
        Notes status:<br />
        <span class='glyphicon glyphicon-flag col-sm-1' style ="color:red"> </span> -  draft <br />
        <span class='glyphicon glyphicon-flag col-sm-1' style ="color:orange"> </span> -  sent for approval<br />
        <span class='glyphicon glyphicon-flag col-sm-1' style ="color:blue"> </span> - approved<br />
        <span class='glyphicon glyphicon-flag col-sm-1' style ="color:black"> </span> - published<br />

    </div>

</div>

