
<div class="col-sm-2" id="page-left-menu">
            <div class="list-group">
                <a class="list-group-item" id="dashboard" href='@Url.Content("~/reviewer/Index")'>Dashboard</a>
                <a class="list-group-item" id="importers" href='@Url.Content("~/reviewer/Importers")'>Importers</a>
                <a class="list-group-item" id="producers_importers" href='@Url.Content("~/reviewer/ProducersImporters")'>Producers & Importers</a>
                <a class="list-group-item" id="wines"  href='@Url.Content("~/reviewer/Wines")'>Wines</a>

            </div>

    <div>
        Notes status:<br />
        <span class='glyphicon glyphicon-flag col-sm-1' style ="color:red"> </span> -  draft <br />
        <span class='glyphicon glyphicon-flag col-sm-1' style ="color:orange"> </span> -  sent for approval<br />
        <span class='glyphicon glyphicon-flag col-sm-1' style ="color:blue"> </span> - approved<br />
        <span class='glyphicon glyphicon-flag col-sm-1' style ="color:black"> </span> - published<br />

    </div>

</div>

