<!---->
<log4net debug="false">



  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="..\LOGS\erp-editor.log"/>
		<appendToFile value="true"/>
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="1MB" />
    <staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date - %message%newline"/>
		</layout>
	</appender>


  <appender name="RollingLogFileAppenderRetired" type="log4net.Appender.RollingFileAppender">
    <file value="..\LOGS\erp-editor.log"/>
    <appendToFile value="true"/>
    <staticLogFileName value="false"/>
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date - %message%newline"/>
    </layout>
  </appender>


  <root>
    <level value="INFO"/>
    <appender-ref ref="RollingLogFileAppender"/>
  </root>



</log4net>
