

<div class="tab-content" style="min-height: 300px">
    <br />
    <div class="tab-pane active" id="new-note-tabs-props" style="min-height: 300px">
        <div class="row">
            <div class="col-sm-2 input-group-md">
                <label for="note-edit-producer" class="control-label">Location:</label>
            </div>
            <div class="col-sm-5  input-group-md">
                <span data-bind="html: country"></span>  
                &nbsp;<span data-bind="html: region"></span> 
                &nbsp;<span data-bind="html: location"></span> 
                &nbsp;<span data-bind="html: locale"></span>  
                &nbsp;<span data-bind="html: site"></span>            
            </div>
        </div> 
        <div class="row">
            <div class="col-sm-2 input-group-md">
                <label for="note-edit-producer" class="control-label">Producer:</label>
            </div>
            <div class="col-sm-5  input-group-md">
                <span data-bind="html: producer"></span>              
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 input-group-md">
                <label for="note-edit-label" class="control-label">Label:</label>
            </div>
            <div class="col-sm-5 input-group-md">
                 <span data-bind="html: wineName"></span>                 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 input-group-md">
                <label for="note-edit-location" class="control-label">Appellation:</label>
            </div>
            <div class="col-sm-5 input-group-md">
                 <span data-bind="html: coAppellation"></span>                 
            </div>
        </div>


        <div class="row">
                <div class="col-sm-2 input-group-md">
                    <label for="note-edit-vintage" class="control-label">Vintage:</label>
                </div>
                <div class="col-sm-3 input-group-md">
                    <span data-bind="html: vintage"></span>                       
                </div>

                <div class="col-sm-2 input-group-md">
                    <label for="note-edit-variety" class="control-label">Variety:</label>
                </div>
                <div class="col-sm-3 input-group-md">
                      <span data-bind="html: wineVariety"></span>                       
                </div>
        </div>



        <div class="row">

                <div class="col-sm-2 input-group-md">
                    <label for="note-edit-color" class="control-label">Color:</label>
                </div>
                <div class="col-sm-3 input-group-md">
                    <span data-bind="html: color"></span> 
                </div>

                <div class="col-sm-2 input-group-md">
                    <label for="note-edit-dryness" class="control-label">Dryness:</label>
                </div>
                <div class="col-sm-3 input-group-md">
                    <span data-bind="html: dryness"></span>
                </div>
        </div>



        <div class="row">
                <div class="col-sm-2 input-group-md">
                    <label for="note-edit-rating" class="control-label">Rating:</label>
                </div>
                <div class="col-sm-3 input-group-md">
                     <span data-bind="html: rating"></span>
                </div>


                <div class="col-sm-2 input-group-md">
                    <label for="note-edit-tasteDate" class="control-label">Tasting Date:</label>
                </div>
                <div class="col-sm-3 input-group-md">
                      <span data-bind="text: tasteDate"></span>
                </div>
        </div>

        <div class="row">
                <div class="col-sm-2 input-group-md">
                    <label for="note-edit-drink-from" class="control-label">Drink From/To:</label>
                </div>
                <div class="col-sm-3 input-group-md">
                    <span data-bind="text: drinkFromDate"></span> - <span data-bind="    text: drinkToDate"></span>
                </div>
               
        </div>

        
        Tasting Note
  
        <div class="row">
            <span data-bind="html: note"></span>
           
        </div>
    </div>



</div>


