<ul id="new-note-tab" class="nav nav-tabs">
    <li><a href="#new-note-tabs-props" data-toggle="tab" id="note-props-tab">Properties</a></li>
    <li><a href="#new-note-tabs-location" data-toggle="tab">Location</a></li>
    <li><a href="#new-note-tabs-history" data-toggle="tab">History</a></li>
</ul>

<div class="tab-content"   style="min-height: 300px">
    <br />


    <div class="tab-pane active form-horizontal" id="new-note-tabs-props" style="min-height: 300px">


        <div data-bind="visible: ($data.vinEditable !== undefined ? !vinEditable() : false)">
            <div class="row">
                <div class="col-sm-12 input-group-md"><b>
                    <span data-bind="text: vintage"></span>
                    <span data-bind="text: producer"></span>,
                    <span data-bind="text: wineName"></span>,
                    <span data-bind="text: coAppellation"></span>,
                    <span data-bind="text: variety"></span>, 
                    <span data-bind="text: color"></span>, 
                    <span data-bind="text: dryness"></span></b>
                </div>
            </div>
            <br />
        </div>

        <div data-bind="visible :($data.vinEditable !== undefined ?  vinEditable() : true)">
        <div class="row">
            <div class="col-sm-2 input-group-md">
                <label for="note-edit-producer" class="control-label">Producer:</label>
            </div>
            <div class="col-sm-5  input-group-md">
                <input type="text" 
                    data-bind="value: producer, valueUpdate: 'blur'" 
                    class="form-control" 
                    name="note-edit-producer" 
                    id="note-edit-producer" 
                    placeholder="Producer" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 input-group-md">
                <label for="note-edit-label" class="control-label">Label:</label>
            </div>
            <div class="col-sm-5 input-group-md">
                <input type="text" 
                    data-bind="value: wineName, valueUpdate: 'blur'" 
                    class="form-control" 
                    id="note-edit-label" 
                    placeholder="Label"  />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 input-group-md">
                <label for="note-edit-location" class="control-label">Appellation:</label>
            </div>
            <div class="col-sm-5 input-group-md">
                <input type="text" 
                    data-bind="value: coAppellation, valueUpdate: 'blur'" 
                    class="form-control" 
                    id="note-edit-location" 
                    name="note-edit-location" 
                    placeholder="Location" readonly required />
            </div>
            <div class="col-sm-3 input-group-md">
                <label class="control-label">Type:</label>
                       <select 
                            data-bind="options: wineTypeLookup,
                            optionsText: 'name',
                            optionsValue: 'name',
                            value: wineType,
                            valueUpdate: 'blur'"></select>

            </div>


        </div>
        <div class="row">
                <div class="col-sm-2 input-group-md">
                    <label for="note-edit-vintage" class="control-label">Vintage:</label>
                </div>
                <div class="col-sm-3 input-group-md">
                    <input type="text"
                        data-bind="value: vintage" 
                        class="form-control" 
                        id="note-edit-vintage" 
                        name="note-edit-vintage" 
                        placeholder="Vintage"
                            required />
                </div>

                <div class="col-sm-2 input-group-md">
                    <label for="note-edit-variety" class="control-label">Variety:</label>
                </div>
                <div class="col-sm-3 input-group-md">
                    <input type="text"
                        data-bind="value: variety, valueUpdate: 'blur'"
                        class="form-control" 
                        id="note-edit-variety" 
                        name="note-edit-variety" 
                        placeholder="Variety" 
                        required />
                </div>
        </div>
        <div class="row">

                <div class="col-sm-2 input-group-md">
                    <label for="note-edit-color" class="control-label">Color:</label>
                </div>
                <div class="col-sm-3 input-group-md">
                    <input type="text"
                        data-bind="value: color, valueUpdate: 'blur'"
                        class="form-control" 
                        id="note-edit-color" 
                        name="note-edit-color" 
                        placeholder="Color" required />
                </div>

                <div class="col-sm-2 input-group-md">
                    <label for="note-edit-dryness" class="control-label">Dryness:</label>
                </div>
                <div class="col-sm-3 input-group-md">
                    <input type="text"
                        data-bind="value: dryness, valueUpdate: 'blur'"
                        class="form-control" 
                        id="note-edit-dryness" 
                        name="note-edit-dryness" 
                        placeholder="Dryness" required />
                </div>
        </div>
        </div>

        <div class="row" data-bind="visible: ($data.vintageEditable !== undefined ? vintageEditable() : false)">
                <div class="col-sm-2 input-group-md">
                    <label for="note-edit-vintage" class="control-label">Vintage:</label>
                </div>
                <div class="col-sm-3 input-group-md">
                    <input type="text"
                        data-bind="value: vintage"
                        class="form-control" 
                        id="note-edit-vintage" 
                        name="note-edit-vintage" 
                        placeholder="Vintage"
                            required />
                </div>
        </div>



        <div class="row">
                <div class="col-sm-2 input-group-md">
                    <label for="note-edit-rating" class="control-label">Rating:</label>
                </div>
                <div class="col-sm-2 input-group-md">
                    <input type="text"
                        data-bind="value: rating"
                        class="form-control" 
                        id="note-edit-rating" 
                        name="note-edit-rating" 
                        placeholder="Rating"  />
                </div>
                <div class="col-sm-1 input-group-md">
                    <label for="note-edit-drink-from" class="control-label">Q :</label>
                        <select 
                            data-bind="options: ratingQLookup,
                            optionsText: 'name',
                            optionsValue: 'name',
                            value: ratingQ,
                            valueUpdate: 'blur'"></select>
                </div>


                <div class="col-sm-2 input-group-md">
                    <label for="note-edit-tastingDate" class="control-label">Tasting Date:</label>
                </div>
                <div class="col-sm-3 input-group-md">
                    <input type="text" 
                        data-bind="value: tastingDate, valueUpdate: 'blur'" 
                        class="form-control" 
                        id="note-edit-tastingDate" 
                        name="note-edit-tastingDate" 
                        placeholder="Tasting Date" required />
                </div>
        </div>

        <div class="row">
                <div class="col-sm-2 input-group-md">
                    <label for="note-edit-drink-from" class="control-label">Drink From:</label>
                </div>
                <div class="col-sm-1 input-group-md">
                    <input type="text"
                           data-bind="value: drinkDateLo, valueUpdate: 'blur', isValidDateRange(a,'JOSHUA')"
                           class="form-control"
                           name="note-edit-drink-from"
                           id="note-edit-drink-from"
                           placeholder="Drink Date" />
                </div>

                <div class="col-sm-1 input-group-md" >
                    <label for="note-edit-drink-to" class="control-label">To:</label>
                </div>
                <div class="col-sm-1 input-group-md" id="date-to-field-container">
                    <input type="text"
                           data-bind="value: drinkDateHi, valueUpdate: 'blur'"
                           class="form-control"
                           name="note-edit-drink-to"
                           id="note-edit-drink-to"
                           placeholder="Drink Date" />
                </div>


                <div class="col-sm-2 input-group-md">
                    <label for="note-edit-drink-from" class="control-label">Estimated Cost Low $:</label>
                </div>
                <div class="col-sm-1 input-group-md">
                    <input type="text" 
                        data-bind="value: estimatedCost, valueUpdate: 'blur'" 
                        class="form-control" 
                        name="note-edit-estimated-cost-low" 
                        id="note-edit-estimated-cost-low" 
                        placeholder="Low" />
                </div>

            <div class="col-sm-1 input-group-md">
                <label for="note-edit-drink-to" class="control-label">High $:</label>
            </div>
                <div class="col-sm-1 input-group-md">
                    <input type="text" 
                        data-bind="value: estimatedCostHi, valueUpdate: 'blur'" 
                        class="form-control" 
                        name="note-edit-estimated-cost-high" 
                        id="note-edit-estimated-cost-high" 
                        placeholder="High"/>
                </div>
        </div>


        <div class="row">
                <div class="col-sm-2 input-group-md">&nbsp;</div>
                <div class="col-sm-1 input-group-md">
                    <input type="checkbox" data-bind="checked: isBarrelTasting, valueUpdate: 'blur'"  /> Barrel 
                </div>

                <div class="col-sm-1 input-group-md">
                    <label for="note-edit-drink-from" class="control-label">Maturity :</label>
                </div>
                <div class="col-sm-1 input-group-md">
                        <select 
                            data-bind="options: maturityLookup,
                            optionsText: 'name',
                            optionsValue: 'id',
                            value: maturityId,
                            valueUpdate: 'blur'"></select>
                </div>

        </div>


        Tasting Note
  
        <div class="row">
            <textarea id="note-text"
                data-bind="value: note" rows="8"
                name="note-text" style="width: 100%;"></textarea>
        </div>
    </div>



    <div class="tab-pane" id="new-note-tabs-location" style="min-height: 300px">
        <br />
        <div class="row">
            <label class="col-sm-2 control-label">Country:</label>
            <div class="col-sm-5">
                <input type="text" id="note-edit-location-country" data-bind="value: country, valueUpdate: 'blur'" class="form-control" placeholder="Country" required/>
            </div>
        </div>

        <div class="row">
            <label class="col-sm-2 control-label">Region:</label>
            <div class="col-sm-5">
                <input type="text" id="note-edit-location-region" data-bind="value: region, valueUpdate: 'blur'" class="form-control" placeholder="Region" required/>
            </div>
        </div>

        <div class="row">
            <label class="col-sm-2 control-label">Location:</label>
            <div class="col-sm-5">
                <input type="text" id="note-edit-location-location" data-bind="value: location, valueUpdate: 'blur'" class="form-control" placeholder="Location" required/>
            </div>
        </div>

        <div class="row">
            <label class="col-sm-2 control-label">Locale:</label>
            <div class="col-sm-5">
                <input type="text" id="note-edit-location-locale" data-bind="value: locale, valueUpdate: 'blur'" class="form-control" placeholder="Locale" />
            </div>
        </div>

        <div class="row">
            <label class="col-sm-2 control-label">Site:</label>
            <div class="col-sm-5">
                <input type="text" id="note-edit-location-site" data-bind="value: site, valueUpdate: 'blur'" class="form-control" placeholder="Site" />
            </div>
        </div>
    </div>


    <div class="tab-pane" id="new-note-tabs-history" style="min-height: 300px; max-height: 550px; overflow:auto">


        <div data-bind="visible: ($data.vinEditable !== undefined ? !vinEditable() : false)">
            <div class="row">
                <div class="col-sm-12 input-group-md"><b>
                    <span data-bind="text: vintage"></span>
                    <span data-bind="text: producer"></span>,
                    <span data-bind="text: wineName"></span>,
                    <span data-bind="text: coAppellation"></span>,
                    <span data-bind="text: variety"></span>, 
                    <span data-bind="text: color"></span>, 
                    <span data-bind="text: dryness"></span></b>
                </div>
            </div>
            <br />
        </div>
           <!-- ko foreach: history -->
          <div class="row"  style="border-bottom: solid 1px gray;cursor:pointer">
                <div class='col-sm-7'>
                     <b><span data-bind="text: reviewer"></span></b> gave <b><span data-bind=" text: rating"></span></b> points for vintage <b><span data-bind="text: vintage"></span></b> on <b><span data-bind="    text: tastingDate"></span></b> and said :
                </div>
                <div class='col-sm-12'>
                 <br />
                     <span data-bind="html: erp.utils.Str2Html($data.note())"></span>
                 <br />
                </div>
            </div>
            <!-- /ko -->    
    </div>

</div>

