
@{
    ViewBag.Title = "Reviewers";
    ViewBag.PageTitle = "ADMIN DASHBOARD: Reviewers";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}



@section LeftMenu{
   @Html.Partial("_AdminMenuPartial")
 }


<h2>Reviewers</h2>

